<h1 id="tableLabel">Resultado dos Alunos</h1>

<p *ngIf="!alunos"><em>Carregando...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="alunos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Turma</th>
      <th>Aprovado</th>
      <th>Ver Notas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aluno of alunos">
      <td>{{ aluno.nome }}</td>
      <td>{{ aluno.dataNascimento }}</td>
      <td>{{ aluno.turma.nome }}</td>
      <td>{{ aluno.isAprovado ? "Sim" : "Não" }}</td>
      <td><input type="button" value="Ver" (click)="verNotas(aluno)" /></td>
    </tr>

  </tbody>
</table>

<div style="display: block" class="modal" tabindex="-1" role="dialog" *ngIf="selectedAluno">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{ selectedAluno.nome }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <table class="table table-striped">
            <tr>
              <th>Matéria</th>
              <th>Nota 1</th>
              <th>Nota 2</th>
              <th>Nota 3</th>
              <th>Nota 4</th>
              <th>Aprovado</th>
            </tr>
            <tr *ngFor="let nota of selectedAluno.notas">
              <td>{{ nota.materia.nome }}</td>
              <td>{{ nota.nota1 }}</td>
              <td>{{ nota.nota2 }}</td>
              <td>{{ nota.nota3 }}</td>
              <td>{{ nota.nota4 }}</td>
              <td>{{ nota.isAprovado ? "Sim" : "Não" }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="dismissModal()" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
